<style type="text/css">
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width:500px;
        height:350px;
    }
</style>
<label>Nombre</label>
<input class='form-control' type='text' ng-model="patrulla.nombre" value='' placeholder='Lobitos' required><br>
<label>Foto Banderín ó Foto Representativa (OPCIONAL)</label>
<!-- img/fpo_avatar.png -->
<div>
    Sube Una Foto: <input type="file" custom-on-change ng-model="patrulla.myImage"/>
</div>
<div class="cropArea">
    <img-crop image="patrulla.myImage" result-image="patrulla.foto" area-type="square" area-min-size="150" result-image-size="150"></img-crop>
</div>
<div>Foto Que Usaremos:</div>
<div><img ng-src="{{patrulla.foto}}" width="150px" /></div>
<button class="btn btn-default" ng-click='defaultFoto($event)'>Borrar Foto</button>
<br>
<button class="btn btn-default btn-block" ng-click='save()'>GUARDAR CAMBIOS</button>