<style type="text/css">
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
</style>
<md-content>
    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
        <md-tab label="Información Personal" md-active="informacion">
            <md-tab-label>
                <p class='labeltab'>Información Personal</p>
                <div class='icontab'>
                    <md-tooltip>Informacion Personal</md-tooltip>
                    <span class='glyphicon glyphicon-user iconbtn morrarro'></span>
                </div>
            </md-tab-label>  
            <md-tab-body>
                <md-content class="md-padding" layout-padding>
                    <form name='scoutForm' id='scoutForm' novalidate ng-submit="scoutForm.$valid && save()">
                        <md-input-container class="md-block" flex-gt-xs>
                            <div>
                                Foto: <input type="file" aria-label="Sube una foto" custom-on-change ng-model="scout.myImage" ng-click="fotocambiada = true"/>
                            </div>
                            <div class="cropArea" ng-show='fotocambiada'>
                                <img-crop image="scout.myImage" result-image="scout.foto" area-type="square" area-min-size="150" result-image-size="150"></img-crop>
                            </div>
                            <div>Foto Que Usaremos:</div>
                            <div><img ng-src="{{scout.foto}}" width="150px" /></div>
                            <md-button class="md-raised md-primary" ng-click='defaultFoto($event)'>
                                Borrar Foto
                            </md-button>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>CUM</label>
                            <input name='cum' ng-model="scout.cum" required>
                            <div ng-messages="scoutForm.cum.$error">
                                <div ng-message="required">El CUM es requerido.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Nombre</label>
                            <input name="nombre" ng-model="scout.nombre" required>
                            <div ng-messages="scoutForm.nombre.$error">
                                <div ng-message="required">El nombre es requerido.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Género</label>
                            <md-select ng-model="scout.genero">
                              <md-option value="F">
                                Femenino
                              </md-option>
                              <md-option value="M">
                                Masculino
                              </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Fecha de Nac.</label>
                            <md-datepicker name="fechanacimiento" ng-model="scout.fechanacimiento" md-current-view="year" md-open-on-focus required></md-datepicker>
                            <div ng-messages="scoutForm.fechanacimiento.$error">
                                <div ng-message="required">La fecha es requerida.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm ng-hide='$root.user.clan'>
                            <label>{{$root.user.pequenogrupo}}</label>
                            <md-select ng-model='scout.patrulla'>
                              <md-option ng-repeat="patrulla in scout.patrullas" value="{{patrulla.idpatrulla}}">
                                {{patrulla.nombre}}
                              </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Escuela</label>
                            <input ng-model="scout.escuela">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>E-mail</label>
                            <input ng-model="scout.email">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Teléfono</label>
                            <input ng-model="scout.telefono">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Domicilio</label>
                            <input ng-model="scout.domicilio">
                        </md-input-container>   
                    </form>
                </md-content>
            </md-tab-body> 
        </md-tab>
        <md-tab label="Ficha Medica" md-active="ficha">
            <md-tab-label>
                <p class='labeltab'>Ficha Medica</p>
                <div class='icontab'>
                    <md-tooltip>Ficha Medica</md-tooltip>
                    <span class='glyphicon glyphicon-plus iconbtn morrarro'></span>
                </div>
            </md-tab-label>  
            <md-tab-body>
                <md-content class="md-padding" layout-padding>
                    <h4>En caso de emergencia comunicarse con:</h4>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Persona de Contacto 1:</label>
                        <input ng-model="scout.contacto1">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Parentesco:</label>
                        <input ng-model="scout.parentezco1">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Persona de Contacto 2:</label>
                        <input ng-model="scout.contacto2">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Parentesco:</label>
                        <input ng-model="scout.parentezco2">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Teléfono de Contacto 1:</label>
                        <input ng-model="scout.telefono1">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Teléfono de Contacto 2:</label>
                        <input ng-model="scout.telefono2">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Email de Contacto:</label>
                        <input ng-model="scout.emailcontacto">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Tipo de Sangre:</label>
                        <md-select ng-model="scout.tiposangre">
                            <md-option value="SIN TIPO">SIN TIPO DE SANGRE</md-option>
                            <md-option value="O+">O+</md-option>
                            <md-option value="O-">O-</md-option>
                            <md-option value="A+">A+</md-option>
                            <md-option value="A-">A-</md-option>
                            <md-option value="B+">B+</md-option>
                            <md-option value="B-">B-</md-option>
                            <md-option value="AB+">AB+</md-option>
                            <md-option value="AB-">AB-</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Peso:</label>
                        <input ng-model="scout.peso">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Estatura:</label>
                        <input ng-model="scout.estatura">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>No. Afiliación:</label>
                        <input ng-model="scout.noafiliacion">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Seguro:</label>
                        <md-select ng-model="scout.seguro">
                            <md-option value="Ninguno">Ninguno</md-option>
                            <md-option value="IMSS">IMSS</md-option>
                            <md-option value="ISSSTE">ISSSTE</md-option>
                            <md-option value="ISSEMyM">ISSEMyM</md-option>
                            <md-option value="ISSFAM">ISSFAM</md-option>
                            <md-option value="Particular">Particular</md-option>
                            <md-option value="Otro">Otro</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Especifique (En caso de ser Particular u Otro):</label>
                        <input ng-model="scout.especifique">
                    </md-input-container>
                    <div layout-gt-sm="row" ng-repeat='radio in $parent.radios'>
                        <md-input-container class="md-block md-input-has-value" flex-gt-sm>
                            <label>{{radio.label}}</label>
                            <md-radio-group ng-model="scout[radio.name]">
                                <md-radio-button value="0" class="md-primary">NO</md-radio-button>
                                <md-radio-button value="1">SI</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm ng-show='radio.especificacion'>
                            <label>Especifíque</label>
                            <input type="text" ng-model="scout[radio.especificacion]">
                        </md-input-container>
                    </div>
                </md-content>
            </md-tab-body> 
        </md-tab>
        <md-tab label="Progresión Personal" md-active="progresion">
            <md-tab-label>
                <p class='labeltab'>Progresión Personal</p>
                <div class='icontab'>
                    <md-tooltip>Progresión Personal</md-tooltip>
                    <span class='glyphicon glyphicon-signal iconbtn morrarro'></span>
                </div>
            </md-tab-label>  
            <md-tab-body>
                <md-content class="md-padding" layout-padding>
                    <div class="row borde centrar" ng-repeat='insignia in $parent.insignias' ng-init="outerIndex = $index">
                        <div class="col-md-6 vcenter">
                            <h4>{{insignia.nombre | capitalize}}</h4>
                            <input type="hidden" ng-model="scout[insignia.nombre]" id="{{insignia.nombre}}"></br>
                            <img ng-class="{'imgdesarrollo':insignia.nombre == 'desarrollo'}" ng-if='insignia.seccion != null' ng-src='img/insignias/{{insignia.seccion}}/{{insignia.nombre}}_{{scout[insignia.nombre]}}.png'/></br>
                            <img ng-if='insignia.seccion == null' ng-src='img/insignias/{{insignia.nombre}}_{{scout[insignia.nombre]}}.png'/></br>
                        </div>
                        <div class="col-md-6">
                            <md-button class="md-raised" ng-click="borrar(insignia.nombre)">BORRAR {{insignia.nombre | uppercase}}</md-button>
                            <nav>
                                <ul class="pagination custom">
                                    <li ng-if='!insignia.especial  && insignia.nombre != "desarrollo"' ng-repeat="opcion in insignia.opciones" class="insignia{{$index + 1}}" ng-class="{'active':  scout[insignia.nombre] == $index+1}">
                                        <md-button class="md-raised {{insignia.nombre}}{{$index + 1}}" ng-click="scout[insignia.nombre] = $index+1">{{opcion}}</md-button>
                                    </li>

                                    <li ng-if='insignia.especial' ng-repeat="opcion in insignia.opciones" class="insigniaespecial{{$index + 1}}" ng-class="{'active':  scout[insignia.nombre] == $index}">
                                        <md-button class="md-raised {{insignia.nombre}}{{$index + 1}}" ng-click="scout[insignia.nombre] = $index">{{opcion}}</md-button>
                                    </li>

                                    <li ng-if='insignia.nombre == "desarrollo"' ng-repeat="opcion in insignia.opciones" class="insigniadesarrollo{{$index + 1}}" ng-class="{'active':desarrollo[$index].clicked}">
                                        <md-button class="md-raised {{insignia.nombre}}{{$index + 1}}" ng-click="desarrolloClick($index+1)">{{opcion}}</md-button>
                                    </li>
                                </ul>
                            </nav>

                            <div ng-if='!insignia.especial  && insignia.nombre != "desarrollo"' ng-repeat="opcion in insignia.opciones">
                                <div ng-show='scout[insignia.nombre] > $index'>
                                    <md-input-container class="md-block md-input-has-value">
                                        <label class="control-label">{{opcion}}</label>
                                        <md-datepicker ng-model="scout['fecha'+insignia.nombre+($index + 1)]" md-open-on-focus></md-datepicker>
                                    </md-input-container>
                                </div>
                            </div>

                            <div ng-if='insignia.especial'>
                                <div class="date" ng-show='scout[insignia.nombre] > 0'>
                                    <md-input-container class="md-block md-input-has-value">
                                        <label class="control-label">{{insignia.nombre | capitalize}}</label>
                                        <md-datepicker ng-model="scout['fecha'+insignia.nombre]" md-open-on-focus></md-datepicker>
                                    </md-input-container>
                                </div>
                            </div>

                            <div ng-if='insignia.nombre == "desarrollo"' ng-repeat="opcion in insignia.opciones">
                                <div class="date" ng-show='desarrollo[$index].clicked'>
                                    <md-input-container class="md-block md-input-has-value">
                                        <label class="control-label">{{opcion}}</label>
                                        <md-datepicker ng-model="scout['fecha'+insignia.nombre+($index + 1)]" md-open-on-focus></md-datepicker>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab-body> 
        </md-tab>
    </md-tabs>
    <div layout="row">
        <p class="advertencia" ng-show="!scoutForm.$valid">
            Los campos con * son requeridos
        </p>
        <span flex></span>
        <md-button type="submit" id="guardarScout" value="Guardar" class="md-raised md-primary" aria-label="guardar" form="scoutForm" ng-disabled="!scoutForm.$valid">
            GUARDAR CAMBIOS
        </md-button>
    </div>
</md-content>