<style type="text/css">
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}

</style>
<div class="modal-body">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#informacion" id="informacionbtn" data-toggle="tab" target="_self" ng-click='changeTab()'>Información Personal</a></li>
        <li><a href="#fichamedica" id="fichamedicabtn" data-toggle="tab" target="_self" ng-click='changeTab()'>Ficha Médica</a></li>
        <li><a href="#progresionpersonal" id="progresionpersonalbtn" data-toggle="tab" target="_self" ng-click='changeTab()'>Progresión Personal</a></li>
    </ul>
    <section class="tab-content">
        <article class="tab-pane active" id="informacion">
            <br>
            <label>Foto</label>
            <!-- img/fpo_avatar.png -->
            <div>
                Sube Una Foto: <input type="file" custom-on-change ng-model="scout.myImage"/>
            </div>
            <div class="cropArea">
                <img-crop image="scout.myImage" result-image="scout.foto" area-type="square" area-min-size="150" result-image-size="150"></img-crop>
            </div>
            <div>Foto Que Usaremos:</div>
            <div><img ng-src="{{scout.foto}}" width="150px" /></div>
            <button class="btn btn-default" ng-click='defaultFoto($event)'>Borrar Foto</button>
            <br>
            <div class="restoform">
                <label>CUM</label>
                <input class="form-control" type="text" ng-model="scout.cum" value="" placeholder="XXX1234567" required><br>
                <label>Nombre</label>
                <input class="form-control" type="text" ng-model="scout.nombre" value="" placeholder="JUANITO PEREZ" required><br>
                <div class="form-group">
                    <label for="sel1">Género</label>
                    <select class="form-control" id="sel1" ng-model="scout.genero" ng-init="scout.genero = 'F'" required>
                        <option value="F">Femenino</option>
                        <option value="M">Masculino</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha de Nacimiento</label>
                    <p class="input-group">
                       <input type="text" class="form-control" datepicker-popup="dd-MMMM-yy" ng-model="scout.fechanacimiento" is-open="openDatePickers[0]" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event, 0)">
                       <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open($event, 0)"><i class="glyphicon glyphicon-calendar"></i></button>
                       </span>
                    </p>
                </div>
                <div class="form-group" ng-hide='$root.user.clan'>
                    <label for='sel2'>{{$root.user.pequenogrupo}}</label>
                    <select class='form-control' id='sel2' ng-options="patrulla.idpatrulla as patrulla.nombre for patrulla in scout.patrullas" ng-model='scout.patrulla' required></select>
                </div>
                <label>Escuela</label>
                <input class="form-control" type="text" ng-model="scout.escuela" value="" placeholder="SECUNDARIA ASENTAMIENTOS HUMANOS"><br>
                <label>E-mail</label>
                <input class="form-control" type="email" ng-model="scout.email" value="" placeholder="JUANITO@HOTMAIL.COM"><br>
                <label>Teléfono</label>
                <input class="form-control" type="tel" ng-model="scout.telefono" value="" placeholder="123-456-78-91"><br>
                <label>Domicilio</label>
                <input class="form-control" type="text" ng-model="scout.domicilio" value="" placeholder="CALLE SCOUT FRACC. ASMAC #123"><br>
            </div>
        </article>

        <article class="tab-pane" id="fichamedica">
            <h4>En caso de emergencia comunicarse con:</h4>
            <label>Persona de Contacto 1:</label>
            <input class="form-control" type="text" ng-model="scout.contacto1" value=""><br>
            <label>Parentesco:</label>
            <input class="form-control" type="text" ng-model="scout.parentezco1" value=""><br>
            <label>Persona de Contacto 2:</label>
            <input class="form-control" type="text" ng-model="scout.contacto2" value=""><br>
            <label>Parentezco:</label>
            <input class="form-control" type="text" ng-model="scout.parentezco2" value=""><br>
            <label>Teléfono de Contacto 1:</label>
            <input class="form-control" type="text" ng-model="scout.telefono1" value=""><br>
            <label>Teléfono de Contacto 2:</label>
            <input class="form-control" type="text" ng-model="scout.telefono2" value=""><br>
            <label>Email de Contacto:</label>
            <input class="form-control" type="text" ng-model="scout.emailcontacto" value=""><br>
            <h4>Datos Médicos Generales</h4>
            <div class="form-group">
                <label for="selsangre">Tipo de Sangre:</label>
                <select class="form-control" id="selsangre" ng-model="scout.tiposangre">
                    <option value="SIN TIPO">SIN TIPO DE SANGRE</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
            </div>
            <label>Peso:</label>
            <input class="form-control" type="text" ng-model="scout.peso" value=""><br>
            <label>Estatura:</label>
            <input class="form-control" type="text" ng-model="scout.estatura" value=""><br>
            <label>No. Afiliación:</label>
            <input class="form-control" type="text" ng-model="scout.noafiliacion" value=""><br>
            <div class="form-group">
            <label for="selseguro">Seguro:</label>
            <select class="form-control" id="selseguro" ng-model="scout.seguro">
                <option value="Ninguno">Ninguno</option>
                <option value="IMSS">IMSS</option>
                <option value="ISSSTE">ISSSTE</option>
                <option value="ISSEMyM">ISSEMyM</option>
                <option value="ISSFAM">ISSFAM</option>
                <option value="Particular">Particular</option>
                <option value="Otro">Otro</option>
            </select>
            </div>
            <label>Especifique (En caso de ser Particular u Otro):</label>
            <input class="form-control" type="text" ng-model="scout.especifique" value=""><br>

            <h4>Otros</h4>
            <div class="form-group row borde" ng-repeat='radio in radios'>
                <div class="col-xs-{{radio.col}}">
                    <label>{{radio.label}}</label>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" ng-model="scout[radio.name]" value='0' checked>NO</label>
                        <label class="radio-inline"><input type="radio" ng-model="scout[radio.name]" value='1'>SI</label>
                    </div>
                </div>
                <div id="{{radio.especificacion}}" class="col-xs-{{radio.col}}" ng-show='radio.especificacion'>
                    <label>Especifíque</label><input class="form-control" type="text" ng-model="scout[radio.especificacion]" value=""></label>
                </div>
            </div>
        </article>

        <article class="tab-pane" id="progresionpersonal" >
            <!-- Promesa -->
            <div class="row borde centrar" ng-repeat='insignia in insignias' ng-init="outerIndex = $index">
                <div class="col-md-6 vcenter">
                    <h4>{{insignia.nombre | capitalize}}</h4>
                    <input class="fileInput" value="0" type="text" ng-model="scout.progresion[insignia.nombre]" id="{{insignia.nombre}}"></br>
                    <img id="img{{insignia.nombre}}" ng-if='insignia.seccion != null' ng-src='img/insignias/{{insignia.seccion}}/{{insignia.nombre}}_{{scout.progresion[insignia.nombre]}}.png'/></br>
                    <img id="img{{insignia.nombre}}" ng-if='insignia.seccion == null' ng-src='img/insignias/{{insignia.nombre}}_{{scout.progresion[insignia.nombre]}}.png'/></br>
                </div>
                <div class="col-md-6 ">
                    <a href='' class='btn btn-default btn-block' ng-click="borrar(insignia.nombre)" target="_self">BORRAR {{insignia.nombre | uppercase}}</a>
                    <nav>
                        <ul class="pagination custom">
                            <li ng-if='!insignia.especial  && insignia.nombre != "desarrollo"' ng-repeat="opcion in insignia.opciones" id="li{{insignia.nombre}}{{$index + 1}}" ng-class="{'active':  scout.progresion[insignia.nombre] == $index+1}"><a class="{{insignia.nombre}}" href="" id="{{insignia.nombre}}{{$index + 1}}" ng-click="scout.progresion[insignia.nombre] = $index+1" target="_self">{{opcion}}</a></li>

                            <li ng-if='insignia.especial' ng-repeat="opcion in insignia.opciones" id="li{{insignia.nombre}}{{$index + 1}}" ng-class="{'active':  scout.progresion[insignia.nombre] == $index}"><a class="{{insignia.nombre}}" href="" id="{{insignia.nombre}}{{$index + 1}}" ng-click="scout.progresion[insignia.nombre] = $index" target="_self">{{opcion}}</a></li>

                            <li ng-if='insignia.nombre == "desarrollo"' ng-repeat="opcion in insignia.opciones" id="li{{insignia.nombre}}{{$index + 1}}" ng-class="{'active':desarrollo[$index].clicked}"><a class="{{insignia.nombre}}" href="" id="{{insignia.nombre}}{{$index + 1}}" ng-click="desarrolloClick($index+1)" target="_self">{{opcion}}</a></li>
                        </ul>
                    </nav>

                    <div ng-if='!insignia.especial  && insignia.nombre != "desarrollo"' ng-repeat="opcion in insignia.opciones" class="form-group fecha{{insignia.nombre}}{{$index + 1}}">
                        <div class="date" ng-show='scout.progresion[insignia.nombre] > $index'>
                            <label class="control-label">Fecha de {{insignia.nombre | capitalize}} {{opcion}}</label>
                            <p class="input-group">
                               <input type="text" class="form-control" datepicker-popup="dd-MMMM-yy" ng-model="scout.progresion.fechas[insignia.nombre][$index + 1]" is-open="openDatePickers[outerIndex * 4 + $index]" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close">
                               <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open($event, outerIndex * 4 + $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
                            </p>
                        </div>
                    </div>

                    <div ng-if='insignia.especial' class="form-group fecha{{insignia.nombre}}">
                        <div class="date" ng-show='scout.progresion[insignia.nombre] > 0'>
                            <label class="control-label">Fecha de {{insignia.nombre | capitalize}}</label>
                            <p class="input-group">
                               <input type="text" class="form-control" datepicker-popup="dd-MMMM-yy" ng-model="scout.progresion.fechas[insignia.nombre]" is-open="openDatePickers[0]" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close">
                               <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open($event, 0)"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
                            </p>
                        </div>
                    </div>

                    <div ng-if='insignia.nombre == "desarrollo"' ng-repeat="opcion in insignia.opciones" class="form-group fecha{{insignia.nombre}}{{$index + 1}}">
                        <div class="date" ng-show='desarrollo[$index].clicked'>
                            <label class="control-label">Fecha de {{insignia.nombre | capitalize}} {{opcion}}</label>
                            <p class="input-group">
                               <input type="text" class="form-control" datepicker-popup="dd-MMMM-yy" ng-model="scout.progresion.fechas[insignia.nombre][$index + 1]" is-open="openDatePickers[outerIndex * 4 + $index]" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close">
                               <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open($event, outerIndex * 4 + $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <button class="btn btn-success btn-block" ng-click='save()'>GUARDAR CAMBIOS</button>
</div>