<style type="text/css">
	.boton{
	  font-size: 0.8em!important;
	  vertical-align: middle;
	  white-space: normal!important;
	}
</style>
<button type="button" class="btn btn-default btn-block contacto" ng-click="modal()">
	<span class="mas glyphicon glyphicon-plus"></span>Agregar Nueva Patrulla
</button>
<h1 class='nada' ng-hide='patrullas.length'>NO TIENES PATRULLAS REGISTRADAS AÚN</h1>
<div class='tarjeta col-xs-12 col-md-6 vertical-center' ng-repeat='patrulla in patrullas'>
	<div class='col-xs-4'>
		<img class='img-responsive' ng-src='{{patrulla.foto}}' width='150px' />
	</div>
	<div class='col-xs-8 altoalcien'>
		<p>{{patrulla.nombre}}</p>
		<div class='botones'>
			<a href='#!patrulla/{{patrulla.idpatrulla}}/{{patrulla.nombre}}' class='btn btn-default btn-block boton vertical-center'><span class='glyphicon glyphicon-floppy-disk'></span> EDITAR</a>
		</div>
	</div>
</div>
<!-- /.tarjeta-->