.loading-spiner{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,.2);
  z-index: 99;
  text-align: center;
}

.loading-spiner img {
  z-index: 100;
}
.imgdesarrollo{
  width: 250px;
}

.progress{
  margin-right: 25px;
}

/* Sidebar Styles */
.alinearizq{
    text-align: left;
}

/*Colores*/
.morrarro{
  color: #692b8d!important;

}

.mas{
  color:#59ff00;
  padding-left: 1%;
}


.nada{
  text-align: center;
  font-family: OpenSans-Light;
  color: #AAAAAA;
}
.contacto{
  background-color:#5A6570;
  height: 40px;
  color: #FFF;
  font-family: OpenSans-Bold;
  font-size: 1em;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;

}

.contacto a{
  padding-right: 10%;
  text-decoration: none;
  color: #FFF;
}
.contacto a:hover{
  text-decoration: none;
  color: #FFF;
}

.logout a{
  text-decoration: none;
  color: #FFF;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.top{
  background-color: #E6E6E6;
  padding-top: 2.5vh;
  padding-bottom:2.5vh;
}

.fullwidth{
  width: 100%!important;
}

.other h1{
  font-family: OpenSans-Light;
  font-size: 18pt;
  color: #5A6570;
}

.other a{
  font-family: OpenSans-Light;
  font-size: 14pt;
  color: #4DC1DF;
  text-decoration: none;
}

.other a:hover{
  font-family: OpenSans-Light;
  font-size: 14pt;
  color: #4DC1DF;
  text-decoration: none;
}

.iconbtn{
  font-size: 1.5em!important;
}

.contain{
  text-align: center;
  display: none;
}

/**
 * Override feedback icon position
 * See http://formvalidation.io/examples/adjusting-feedback-icon-position/
 */

.centrar{
  text-align: center;
}

.borde{
  border-bottom: 1px solid gray;
}
.oculto{
  visibility: hidden;
}
.advertencia{
  font-size: 8pt;
  font-family: OpenSans-Regular;
  color: red;
}

.pagination.custom > .insignia1 > button:hover,
.pagination.custom > .insignia1 > span:hover,
.pagination.custom > .insignia1.active > button,
.pagination.custom > .insignia1.active > span {
    background:#F0AD4E!important;
    color: #FFF!important;
}
.pagination.custom > .insignia2 > button:hover,
.pagination.custom > .insignia2 > span:hover,
.pagination.custom > .insignia2.active > button,
.pagination.custom > .insignia2.active > span {
    background:#5CB85C!important;
    color: #FFF!important;
}
.pagination.custom > .insignia3 > button:hover,
.pagination.custom > .insignia3 > span:hover,
.pagination.custom > .insignia3.active > button,
.pagination.custom > .insignia3.active > span {
    background:#5BC0DE!important;
    color: #FFF!important;
}
.pagination.custom > .insignia4 > button:hover,
.pagination.custom > .insignia4 > span:hover,
.pagination.custom > .insignia4.active > button,
.pagination.custom > .insignia4.active > span {
    background:#D9534F!important;
    color: #FFF!important;
}

.pagination.custom > .insigniaespecial1 > button:hover,
.pagination.custom > .insigniaespecial1 > span:hover,
.pagination.custom > .insigniaespecial1.active > button,
.pagination.custom > .insigniaespecial1.active > span {
    background: gray!important;
    color: #FFF!important;
}
.pagination.custom > .insigniaespecial2 > button:hover,
.pagination.custom > .insigniaespecial2 > span:hover,
.pagination.custom > .insigniaespecial2.active > button,
.pagination.custom > .insigniaespecial2.active > span {
    background: #692B8D!important;
    color: #FFF!important;
}

.pagination.custom > .insigniadesarrollo1 > button:hover,
.pagination.custom > .insigniadesarrollo1 > span:hover,
.pagination.custom > .insigniadesarrollo1.active > button,
.pagination.custom > .insigniadesarrollo1.active > span {
    background:#5CB85C!important;
    color: #FFF!important;
}
.pagination.custom > .insigniadesarrollo2 > button:hover,
.pagination.custom > .insigniadesarrollo2 > span:hover,
.pagination.custom > .insigniadesarrollo2.active > button,
.pagination.custom > .insigniadesarrollo2.active > span {
    background:#5BC0DE!important;
    color: #FFF!important;
}
.pagination.custom > .insigniadesarrollo3 > button:hover,
.pagination.custom > .insigniadesarrollo3 > span:hover,
.pagination.custom > .insigniadesarrollo3.active > button,
.pagination.custom > .insigniadesarrollo3.active > span {
    background:#D9534F!important;
    color: #FFF!important;
}

.progress {
  background-color: #263645!important;
  height: 50px!important;
}
.progress-bar{
  background-color: #692b8d!important;
  line-height: 50px!important;
}
.progress .sr-only { 
  position: relative!important; 
}

.labeltab{
  display: block;
}

.icontab{
  display: none;
}
/* Small devices (tablets, 768px and up) */
@media ( max-width : 370px ) {
  .progress-bar .text{
    display: none;
  }
  .md-headline{
    font-size: 18px!important; 
  }
  md-card-actions{
    margin-right: 15px!important;
  }
}
@media ( max-width : 768px ) {
  .btn-xs-text:not(span) {
    font-size: 0pt !important;
  }
  .btn-xs-text.btn-lg .glyphicon {
    font-size: 18pt !important;
  }
  .btn-xs-text .glyphicon {
    font-size: 14pt !important;
  }
  .btn-xs-text.btn-sm .glyphicon {
    font-size: 12pt !important;
  }
  .btn-xs-text.btn-xs .glyphicon {
    font-size: 12pt !important;
  }

  .labeltab{
    display: none;
  }

  .icontab{
    display: block;
  }
}
/* Medium devices (desktops, 992px and up) */
@media ( max-width : 992px ) {
  .btn-md-text:not(span) {
    font-size: 0pt !important;
  }
  .btn-md-text.btn-lg .glyphicon {
    font-size: 18pt !important;
  }
  .btn-md-text .glyphicon {
    font-size: 14pt !important;
  }
  .btn-md-text.btn-sm .glyphicon {
    font-size: 12pt !important;
  }
  .btn-md-text.btn-xs .glyphicon {
    font-size: 12pt !important;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media ( max-width : 1200px ) {
  .btn-lg-text:not(span) {
    font-size: 0pt !important;
  }
  .btn-lg-text.btn-lg .glyphicon {
    font-size: 18pt !important;
  }
  .btn-lg-text .glyphicon {
    font-size: 14pt !important;
  }
  .btn-lg-text.btn-sm .glyphicon {
    font-size: 12pt !important;
  }
  .btn-lg-text.btn-xs .glyphicon {
    font-size: 12pt !important;
  }
}
