<style type="text/css">
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width:500px;
        height:350px;
    }
</style>
<md-dialog aria-label="Nueva Ficha REME" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Nueva Ficha REME</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                &times;
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <md-content>
            <form name='fichaForm' id='fichaForm' novalidate ng-submit="fichaForm.$valid && save()">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Nombre de la actividad</label>
                    <input name="nombre" ng-model="ficha.nombre" required>
                    <div ng-messages="fichaForm.nombre.$error">
                        <div ng-message="required">El nombre es requerido.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>{{$root.objetivo}}</label>
                    <md-select ng-model="ficha.area">
                    	<md-option value="corporalidad">{{$root.area1}}</md-option>
                    	<md-option value="creatividad">{{$root.area2}}</md-option>
                    	<md-option value="caracter">{{$root.area3}}</md-option>
                    	<md-option value="afectividad">{{$root.area4}}</md-option>
                    	<md-option value="sociabilidad">{{$root.area5}}</md-option>
                    	<md-option value="espiritualidad">{{$root.area6}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Participantes</label>
                    <input ng-model="ficha.participantes" >
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Objetivo</label>
                    <input ng-model="ficha.objetivoactividad" >
                </md-input-container>                
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Descripción</label>
                    <textarea ng-model="ficha.recomendaciones" rows="1" md-select-on-focus></textarea>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Tiempos</label>
                    <input ng-model="ficha.tiempos" >
                </md-input-container>
        		<div layout="column" layout-wrap>
                    <label>Materiales</label>
                	<md-button class="md-raised md-primary" aria-label="Buscar" ng-click='add($event)'>Agregar Material</md-button>
                </div>
            	<div class="input-group" ng-repeat="material in ficha.materiales" layout="row" layout-fill>
            		<md-input-container class="md-block" flex-gt-xs> 
            		    <input ng-model="material.material" >
            		</md-input-container>
            		<div>
	        			<md-button ng-click="del($index, $event)" class="remove_field md-raised md-accent">Eliminar</md-button>
            		</div>
            	</div>
            </form>	
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <p class="advertencia" ng-show="!fichaForm.$valid">
            Los campos con * son requeridos
        </p>
        <span flex></span>
        <md-button type="submit" id="agregarFicha" value="Agregar" class="md-raised md-primary" form='fichaForm' aria-label="agregar" ng-disabled="!fichaForm.$valid">
            Agregar Ficha Reme
        </md-button>
    </md-dialog-actions>
</md-dialog>
