<style type="text/css">
    .modal {
        display: block;
    }

    .modal-body:before,
    .modal-body:after {
        display: table;
        content: " ";
    }

    .modal-header:before,
    .modal-header:after {
        display: table;
        content: " ";
    }
    .modal {
        overflow-y:auto;
    }
</style>
<div class="modal-dialog">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="cancel()">&times;</button>
			<h4 class="modal-title">Nueva Ficha REME</h4>
		</div>
		<div class="modal-body">
		<form>
			<label>Nombre de la actividad</label>
			<input class='form-control' type='text' ng-model='fichareme.nombreactividad' value='' placeholder='Bulldog' required><br>
			<label>{{$root.objetivo}}</label>
			<select class="form-control" ng-model="fichareme.area">
				<option value="corporalidad">{{$root.area1}}</option>
				<option value="creatividad">{{$root.area2}}</option>
				<option value="caracter">{{$root.area3}}</option>
				<option value="afectividad">{{$root.area4}}</option>
				<option value="sociabilidad">{{$root.area5}}</option>
				<option value="espiritualidad">{{$root.area6}}</option>
			</select><br>

			<!--Participantes-->
			<label>Participantes</label>
			<input class='form-control' type='text' ng-model='fichareme.participantes' value='' placeholder='10 o más' required><br>
			<!-- Objetivo -->
			<label>Objetivo</label>
			<input class='form-control' type='text' ng-model='fichareme.objetivoactividad' value='' placeholder='Que todo scout aprenda que ejercistarse es importante' required><br>
			<!-- Descripcion -->
			<label>Descripción</label>
			<textarea class="form-control" rows="5" ng-model="fichareme.descripcion" placeholder="Se asigna un atrapador que regularmente es alguien grande y fuerte. Al silbatazo corto, los participantes corren al otro extremo del área de juego, evitando ser atrapados.Al ser atrapados, se vuelven atrapadores." required></textarea><br>
			<!-- Recomendaciones -->
			<label>Recomendaciones</label>
			<textarea class="form-control" rows="5" ng-model="fichareme.recomendaciones" placeholder="Tener cuidado con las lesiones físicas causadas por la agresividad del juego" required></textarea><br>
			<!-- Tiempos -->
			<label>Tiempos</label>
			<input class='form-control' type='text' ng-model='fichareme.tiempos' value='' placeholder='15-20 min' required><br>
			<!-- Materiales -->
			<label>Materiales</label>
			<button class="btn btn-success btn-block" ng-click='add($event)'>Agregar Material</button>
				<div class="input-group" ng-repeat="material in fichareme.materiales">
					<input class="material form-control" ng-model="fichareme.material.material" type="text">
					<span class="input-group-btn">
						<button ng-click="del($index, $event)" class="remove_field btn btn-secondary btn-danger">Eliminar</button>
					</span>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-default btn-block" ng-click='save()'>Agregar Ficha Reme</button>
		</div>
	</div>
</div> <!-- end .modal-dialog -->