<md-content>
    <form name='userForm' id='userForm' novalidate ng-submit="userForm.$valid && save()">
    <md-input-container class="md-block" flex-gt-xs>
	        <label>Email</label>
	        <input name='email' ng-model="user.email" required>
	        <div ng-messages="userForm.email.$error">
	        	<div ng-message="required">El Email es requerido.</div>
	        </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>CUM</label>
            <input name='cum' ng-model="user.cum" required>
            <div ng-messages="userForm.cum.$error">
                <div ng-message="required">El CUM es requerido.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-xs>
            <label>Sección</label>
            <md-select name="seccion" ng-model="user.seccion" required>
                <md-option value="manada">
                    Manada de Lobatos
                </md-option>
                <md-option value="tropa">
                    Tropa de Scouts
                </md-option>
                <md-option value="comunidad">
                    Comunidad de Caminantes
                </md-option>
                <md-option value="clan">
                    Clan de Rovers
                </md-option>
            </md-select>
            <div ng-messages="userForm.seccion.$error">
                <div ng-message="required">La sección es requerida.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-xs>
            <label>Provincia</label>
            <md-select name="provincia" md-on-close="searchProvincia = ''" ng-model="user.provincia" required>
                <md-optgroup label="provincias">
                    <md-option ng-value="provincia" ng-repeat="provincia in provincias | filter:searchProvincia">{{provincia}}</md-option>
                </md-optgroup>
            </md-select>
            <div ng-messages="userForm.provincia.$error">
                <div ng-message="required">La provincia es requerida.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-xs>
            <label>Grupo</label>
            <input type="number" name='grupo' ng-model="user.grupo" required>
            <div ng-messages="userForm.grupo.$error">
                <div ng-message="required">El grupo es requerido.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-xs>
            <label>Contraseña (Dejar en blanco si no quieres cambiarla)</label>
            <input name='password' type='password' ng-init="user.password = ''" ng-model="user.password">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Confirma Tu Contraseña</label>
            <input name='confirmpassword' type='password' ng-init="user.confirmpassword = ''" ng-model="user.confirmpassword" compare-to="user.password">
            <div ng-messages="userForm.confirmpassword.$error">
                <div ng-message="compareTo">Las contraseñas no coinciden.</div>
            </div>
        </md-input-container>

        <div layout="row">
            <p class="advertencia" ng-show="!userForm.$valid">
                Los campos con * son requeridos
            </p>
            <span flex></span>
            <md-button type="submit" value="Guardar" class="md-raised md-primary" aria-label="guardar" ng-disabled="!userForm.$valid">
                GUARDAR CAMBIOS
            </md-button>
        </div>
    </form>
</md-content>
