<section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
	<form>
		<div layout="row" flex>
			<md-input-container class="md-block" flex>
		        <label>Busca Una Ficha Reme</label>
		        <input name="nombre" ng-model="busqueda.ficha">
			</md-input-container>
			<div>
				<md-button class="md-raised md-primary" aria-label="Buscar">
					<span class="glyphicon glyphicon-search"></span>  Buscar
				</md-button>
			</div>
		</div>
<!-- 		<div class="input-group">
			<input type="text" class="form-control" placeholder="Busca Una Ficha Reme" id="busca" name="busqueda" value="" required>
			<div class="input-group-btn">
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
			</div>
		</div> -->
	</form>
	<span flex></span>
	<md-button class="md-raised md-primary" aria-label="Filtro" data-toggle="collapse" data-target="#filter-panel">
		<span class="glyphicon glyphicon-cog"></span>  Filtro
	</md-button>
	<div id="filter-panel" class="collapse filter-panel">
		<form id="filtro" class="form-inline">
			<md-input-container class="md-block" flex-gt-xs>
		        <label>Sección</label>
		        <md-select ng-model="busqueda.seccion" ng-init="busqueda.seccion= 'cualquiera'">
		        	<md-option value="cualquiera">Cualquiera</md-option>
		        	<md-option value="manada">Manada</md-option>
		        	<md-option value="tropa">Tropa</md-option>
		        	<md-option value="comunidad">Comunidad</md-option>
		        	<md-option value="clan">Clan</md-option>
                </md-select>
			</md-input-container>
			<md-input-container class="md-block" flex-gt-xs>
		        <label>Área de desarrollo:</label>
		        <md-select ng-model="busqueda.area" ng-init="busqueda.area= 'cualquiera'">
		        	<md-option value="cualquiera">Cualquiera</md-option>
		        	<md-option value="corporalidad">Corporalidad</md-option>
		        	<md-option value="creatividad">Creatividad</md-option>
		        	<md-option value="caracter">Carácter</md-option>
		        	<md-option value="afectividad">Afectividad</md-option>
		        	<md-option value="sociabilidad">Sociabilidad</md-option>
		        	<md-option value="espiritualidad">Espiritualidad</md-option>
                </md-select>
			</md-input-container>
			<md-button class="md-raised md-primary" aria-label="Filtro">
				<span class="glyphicon glyphicon-record"></span> Aplicar Filtro
			</md-button>
		</form>
	</div>

	<md-button class="md-raised md-primary" aria-label="Agregar Nueva Ficha Reme" ng-click="showAgregarficha($event)">
		<span class="glyphicon glyphicon-plus"></span>  Agregar Nueva Ficha Reme
	</md-button>
</section>

<h1 class='nada' ng-hide='fichasreme.length'>NO HAY FICHAS REME AÚN</h1>

<a href='#!fichareme/{{ficha.idfichareme}}' ng-repeat='ficha in fichasreme'>
	<div class="col-xs-12 col-md-6" layout="column">
		<md-card md-theme="default">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{ficha.nombreactividad}}</span>
					<span class="md-subhead">Sección: {{ficha.seccion}}</span>
					<span class="md-subhead">Area:{{ficha.area}}</span>
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</div>
</a>
