<section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
	<div layout="row" layout-align="center center" flex-gt-xs>
		<md-input-container class="md-block" flex>
	        <label>Busca Una Ficha Reme</label>
	        <input name="nombre" ng-model="busqueda.ficha" placeholder="Puedes buscar por nombre, sección y área">
		</md-input-container>
	</div>
	<span flex></span>
	<md-button class="md-raised md-primary" aria-label="Agregar Nueva Ficha Reme" ng-click="showAgregarFicha($event)">
		<span class="glyphicon glyphicon-plus"></span>  Agregar Nueva Ficha Reme
	</md-button>
</section>

<a href='#!fichareme/{{ficha.id}}' ng-repeat='ficha in filteredFichas = (fichas | filter: busqueda.ficha) | limitTo:fichasDisplayed'>
	<div class="col-xs-12 col-md-6" layout="column">
		<md-card md-theme="default">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{ficha.nombreactividad}}</span>
					<span class="md-subhead">Sección: {{ficha.seccion | capitalize}}</span>
					<span class="md-subhead">Area: {{parseObjetivo(ficha.seccion, ficha.areadedesarrollo)}}</span>
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</div>
</a>
<div ng-show='fichas.length' class="col-xs-12">
	<md-button class="md-raised md-primary" aria-label="Mostrar Más Fichas" ng-click="loadMore()">
		<span class="glyphicon glyphicon-refresh"></span>  Mostrar Más Fichas
	</md-button>
</div>
<h1 class='nada' ng-hide='fichas.length'>NO HAY FICHAS</h1>
