<section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
	<md-button class="md-raised md-primary" aria-label="Agregar Nueva {{$root.user.pequenogrupo}}" ng-click="showAgregarPatrulla($event)">
		<span class="glyphicon glyphicon-plus"></span>  Agregar Nueva {{$root.user.pequenogrupo}}
	</md-button>
</section>
<h1 class='nada' ng-hide='patrullas.length'>NO TIENES {{$root.user.pequenogrupo.toUpperCase()}}S REGISTRADOS AÚN</h1>
<div class="row fullwidth">
    <!-- <div flex-xs flex-gt-xs="100" flex-gt-sm="50" layout="column" layout-fill ng-repeat='patrulla in patrullas'> -->
    <div class="col-xs-12 col-md-6" layout="column" ng-repeat='patrulla in patrullas'>
		<md-card md-theme="default">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{patrulla.nombre}}</span>
				</md-card-title-text>
				<md-card-title-media>
					<div class="md-media-lg card-media"><img class='img-responsive' ng-src='{{patrulla.foto}}' width='150px' /></div>
				</md-card-title-media>
			</md-card-title>
			<md-card-actions layout="row" layout-align="start center">
				<div layout-wrap flex>
					<md-button ng-click="borrar(patrulla)" class="btn-lg btn-lg-text" aria-label="Borrar {{$root.user.pequenogrupo}}" aria-label="BORRAR">
						<md-tooltip>Borrar {{$root.user.pequenogrupo}}</md-tooltip>
						<span class='glyphicon glyphicon-trash iconbtn morrarro'></span>
					</md-button>
				</div>
				<span flex></span>
				<a class="boton" href='/#!/patrulla/{{patrulla.id}}/{{patrulla.nombre}}' layout-wrap flex>
					<md-button class="btn-lg btn-lg-text" aria-label="Informacion Personal">
						<md-tooltip>Editar {{$root.user.pequenogrupo}}</md-tooltip>
						<span class='glyphicon glyphicon-pencil iconbtn morrarro'></span>
					</md-button>
				</a>
			</md-card-actions>
		</md-card>
	</div>
</div>
