<section layout="row" layout-sm="column" layout-wrap>
	<section layout="column" layout-sm="row" layout-align="start center" layout-wrap>
		<md-button class="md-raised md-primary" aria-label="Agregar Nuevo Scout" ng-click="showAgregarScout($event)">
			<span class="glyphicon glyphicon-plus"></span>  Agregar Nuevo Scout
		</md-button>
	</section>
	<section layout="column" layout-sm="row" layout-align="end center" layout-wrap>
		<md-button class="md-raised md-primary" aria-label="Agregar Nuevo Scout" ng-click="showAgregarScout($event)">
			<span class="glyphicon glyphicon-plus"></span>  Agregar Nuevo Scout
		</md-button>
	</section>
</section>
<h1 class='nada' ng-hide='scouts.length'>NO TIENES SCOUTS REGISTRADOS AÚN</h1>
<div class="row fullwidth">
    <!-- <div flex-xs flex-gt-xs="100" flex-gt-sm="50" layout="column" layout-fill ng-repeat='scout in scouts'> -->
    <div class="col-xs-12 col-md-6" layout="column" ng-repeat='scout in scouts'>
		<md-card md-theme="default">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{scout.nombre}}</span>
					<span class="md-subhead" ng-hide='user.clan'>{{$root.user.pequenogrupo}}: {{scout.Patrulla.nombre}}</span>
					<span class="md-subhead">Progresión:</span>
					<div class='progress'>
						<div ng-show='scout.porcentaje > 0' class='progress-bar' role='progressbar' aria-valuenow='{{scout.porcentaje}}' aria-valuemin='0' aria-valuemax='100' style='width:{{scout.porcentaje}}%;'>
							<span>{{scout.porcentaje}}%</span>
						</div>
						<div ng-show='scout.porcentaje == 0' class='progress-bar' role='progressbar' aria-valuenow='{{scout.porcentaje}}' aria-valuemin='0' aria-valuemax='100' style='width:100%; background-color: #263645!important;'>
							<span class="text">SIN PROGRESIÓN</span> <span>0%</span>
						</div>
					</div>
				</md-card-title-text>
				<md-card-title-media>
					<div class="md-media-lg card-media"><img class='img-responsive' ng-src='{{scout.foto}}' width='150px' /></div>
				</md-card-title-media>
			</md-card-title>
			<md-card-actions layout="row" layout-align="start center">
				<div layout-wrap flex>
					<md-button ng-click="borrar(scout)" class="btn-lg btn-lg-text" aria-label="Borrar Scout" aria-label="BORRAR">
						<md-tooltip>Borrar Scout</md-tooltip>
						<span class='glyphicon glyphicon-trash iconbtn morrarro'></span>
					</md-button>
				</div>
				<span flex></span>
				<a class="boton" href='#!scout/{{scout.cum}}/informacion' layout-wrap flex>
					<md-button class="btn-lg btn-lg-text" aria-label="Informacion Personal">
						<md-tooltip>Informacion Personal</md-tooltip>
						<span class='glyphicon glyphicon-user iconbtn morrarro'></span>
					</md-button>
				</a>
				<a class="boton" href='#!scout/{{scout.cum}}/fichamedica' layout-wrap flex>
					<md-button class="btn-lg btn-lg-text" aria-label="Ficha Medica">
						<md-tooltip>Ficha Medica</md-tooltip>
						<span class='glyphicon glyphicon-plus iconbtn morrarro'></span>
					</md-button>
				</a>
				<a class="boton" href='#!scout/{{scout.cum}}/progresionpersonal' layout-wrap flex>
					<md-button class="btn-lg btn-lg-text" aria-label="Progresión Personal">
						<md-tooltip>Progresión Personal</md-tooltip>
						<span class='glyphicon glyphicon-signal iconbtn morrarro'></span>
					</md-button>
				</a>
			</md-card-actions>
		</md-card>
	</div>
</div>
